@import url('https://fonts.googleapis.com/css?family=Rambla');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

/*General*/
body{
    background: url("../../includes/assets/background.jpg") repeat !important;
  
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: #000;
}

option{
    font-size:12px;
    height:5% !important;
}

.superheadline_wrapper{
    background: url("../../includes/assets/bandegrey.jpg") repeat-x center top #333333;
    box-shadow: 0 0 20px #000
}

/*Fin General*/

/*Header*/
.desktop{
    display: none;
}

#banniere{
    width: auto;
    height: 138px;
    background: url("../../includes/assets/bg_header.png") repeat-x #fff;
}

.logo img{
    max-width:95%;
    display: block;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0 0 20px #000;   
}


.menu{
    font-size: 20px;
    font-family: 'Rambla', sans-serif;    
}

.menu a{
    color:#000 !important;   
}

/*Fin header*/

/*Homepage*/

.slider{
    background: url("../../includes/assets/bandegrey.jpg") repeat-x center bottom #333333;
    box-shadow: 0 0 20px #000
}

.carousell{
    display: none;
}

.text-accueil{
    margin-top:2%;
    background: #fbfbfb;
    overflow: visible;
    
    padding: 20px;
    box-shadow: inset 0 0 92px #c5c5c5;      
    
}

.text-accueil h3{
        
    font-family: 'Droid Serif';
    font-size: 0.9em; 
    text-decoration: underline;
    font-weight: bold;
}

.text-accueil h2{
        
    font-family: 'Droid Serif';
    font-size: 0.9em; 
    text-decoration: underline;
    font-weight: bold;
}

.text-accueil p{
    font-family: 'Droid Serif';
    font-size: 0.9em;
}

.text-accueil ul li{
        
    font-family: 'Droid Serif';
    font-size: 0.9em; 
    list-style-type: circle;
    
}


/*Fin homepage*/

/*Competences*/

.competences{
    margin-top:2%;
}

.competences h2{
    font-family: 'Rambla';
    font-size: 1.1em;
}

.competences img{
    max-width:100%;
}

.img-competences{
    display: none;
}
/*Fin competences*/

/*Equipe*/

.equipe img{
    max-width:26%;
}

.equipe{
    margin-top:10%;
}
.equipe h2{
    font-family: 'Rambla';
    font-size: 1.3em;
}

.equipe p{
    font-family: 'Rambla';
    font-size: 1.0em;
}

/*Fin Equipe*/

/*Coordonnées*/
.coordonnees{
    margin-top: 2%;
}

.coordonnees h2 {
    font-family: 'Rambla';
    font-size: 1.3em;
}

.coordonnees p {
    font-family: 'Rambla';
    font-size: 1.0em;
}

.map{
    height:300px;
}

/*Fin coordonnees*/


/*Footer*/

#footer{
    margin-top: 2%;
    width: auto;
    height: 70px;
    background: url("../../includes/assets/bg_footer.jpg") repeat-x #fff;
}

#footer p{
    text-align: center;
}

#footer a{
    text-decoration: none;
    color:#000;
}


/*Fin du footer*/


@media (min-width: 576px) { 

     /*Header*/
    .desktop{
    display: none;
    }

    #banniere{
        width: auto;
        height: 138px;
        background: url("../../includes/assets/bg_header.png") repeat-x #fff;
    }
    
    .logo img{
        max-width:70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 20px #000
    }
    
    .menu{
        font-size: 20px;
        font-family: 'Rambla', sans-serif;        
    }

    .menu a{
        color:#000 !important;   
    }   

    /*Fin Header*/
    /*Homepage*/

    .carousell{
        display: inline;
    }

    /*Fin Homepage*/

    /*Competences*/

    .competences img{
        max-width:15%;
    }

    .img-competences{
        display: none;
    }

    /*Fin competences*/

    /*Equipe*/

.equipe img{
    max-width:20%;
}
/*Fin Equipe*/
    
 }


@media (min-width: 768px) { 

     /*Header*/
    .desktop{
        display: none;
    }

    #banniere{
        width: auto;
        height: 138px;
        background: url("../../includes/assets/bg_header.png") repeat-x #fff;
    }
    
    .logo img{
        max-width:50%;
        display: block;
        margin-left: 0;
        margin-right: 0;
        box-shadow: 0 0 20px #000
    }

    option{
        font-size:12px;
        height:5% !important;
    }

    .menu{
        font-size: 20px;
        font-family: 'Rambla', sans-serif;        
    }

    .menu a{
        color:#000 !important;   
    }  

    /*Fin Header*/
    /*Homepage*/

    .carousell{
        display: inline;
    }

    /*Fin Homepage*/

    /*Competences*/

    .competences img{
        max-width:100%;
    }

    .img-competences{
        display: inline;
    }

    /*Fin competences*/

    /*Equipe*/

.equipe img{
    max-width:15%;
}
/*Fin Equipe*/
    
 }

@media (min-width: 992px) { 

     /*Header*/
    .desktop{
        display: inline;
    }

    .mobile{
        display: none;
    }

    #banniere{
        width: auto;
        height: 138px;
        background: url("../../includes/assets/bg_header.png") repeat-x #fff;
    }
    
    .logo img{
        max-width:70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 20px #000
    }
    
    .menu{
        font-size: 20px;
        font-family: 'Rambla', sans-serif;        
    }

    .menu a{
        color:#000 !important;   
    }
    
    /*Fin Header*/
    /*Homepage*/

    .carousell{
        display: inline;
    }

    /*Fin Homepage*/

    /*Competences*/

    .competences img{
        max-width:100%;
    }

    .img-competences{
        display: inline;
    }

    /*Fin competences*/

    /*Equipe*/

.equipe img{
    max-width:100%;
}
/*Fin Equipe*/
    
 }

@media (min-width: 1200px) { 

    /*Header*/
    .desktop{
        display: inline;
    }

    .mobile{
        display: none;
    }
    
    #banniere{
        width: auto;
        height: 138px;
        background: url("../../includes/assets/bg_header.png") repeat-x #fff;
    }
    
    .logo img{
        max-width:40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 20px #000;
        z-index:2;         
    }
    
    .logo{
        z-index: 9999;
    }
  
    .menu{
        font-size: 15px;
        font-family: 'Rambla', sans-serif;        
    }

    .menu a{
        color:#000 !important;   
    }  
    
    /*Fin Header*/
    /*Homepage*/

    .carousell{
        display: inline;
    }

    /*Fin Homepage*/


    /*Competences*/

    .competences img{
        max-width:100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .img-competences{
        display: inline;
    }

    /*Fin competences*/

    /*Equipe*/

.equipe img{
    max-width:100%;
}
/*Fin Equipe*/
 }

